<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.nobody.admin.mapper.SysRoleMapper">

    <select id="list" resultType="com.xj.nobody.admin.domain.SysRole">
        select
            r.id,
            r.name,
            r.role_key,
            r.description,
            r.status,
            r.create_time,
            r.update_time
        from
            sys_role r
        <where>
            <if test="name != null and name != ''">
                and r.name like concat('%',#{name},'%')
            </if>
            <if test="roleKey != null and roleKey != ''">
                and r.role_key like concat('%',#{roleKey},'%')
            </if>
            <if test="description != null and description != ''">
                and r.description like concat('%',#{description},'%')
            </if>
            <if test="status != null">
                and r.status = #{status}
            </if>
        </where>
    </select>
    <select id="listByUserId" resultType="com.xj.nobody.admin.domain.SysRole">
        select
            r.id,
            r.name,
            r.role_key,
            r.description,
            r.status,
            r.create_time,
            r.update_time
        from
            sys_role r
        inner join sys_user_role ur on r.id = ur.role_id
        where
            ur.user_id = #{userId}
    </select>


</mapper>