<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xj.nobody.admin.mapper.SysUserMapper">




    <select id="loadUserByUsername" resultType="com.xj.nobody.commons.dto.UserDTO">
        SELECT
            u.id,
            u.username,
            u.`password`,
            u.enable
        FROM
            sys_user u
        WHERE
            u.username = #{username}
    </select>
</mapper>